.benefices{
    margin: 120px 0 120px;
}
.benefices__title{
    margin-bottom: 64px;
    margin: 0 auto 64px;
}
.benefices__desc{
    font: var(--desktop-h5-medium);
    text-align: center;
    max-width: 860px;
    margin: 0 auto 96px;
}
.benefices__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}
.benefice{
    width: 50%;
}
.benefices_img{
    max-width: 450px;
    margin-bottom: 64px;
}
.benefice__title{
    font: var(--desktop-h5-black);
}
.benefice__desc{
    font: var( --desktop-body1-medium);
}
.benefices .benefices__btn{
    display: block;
    margin: 0 auto;
    border: 1px solid var(--black);
    text-align: center;
}
.benefices__btn:hover{
    background-color: var(--black);
    color: var(--white);
}

@media screen and (max-width: 678px) {
    .benefices{
        margin: 60px 0 120px;
    }
    .section-title.benefices__title{
        font: var(--mobile-h3);
        margin-bottom: 60px;
    }
    .benefices__content{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .benefice{
        width: 100%;
    }
    .benefices_img{
        width: 100%;
        text-align: center;
        margin: 0 auto 24px;
    }
}
