.bitly{
    padding-bottom: 96px;
    margin-bottom: 96px;
}
.bitly__content{
    display: flex;
    gap: 64px;
    position: relative;
}
.bitly___img{
    min-width: 400px;
    border-radius: 32px;
    overflow: hidden;
}
.bitly__subtitle{
    display: inline-block;
    margin-bottom: 32px;
}
.bitly__title{
    font: var(--desktop-h4);
    margin-bottom: 32px;
}
.bitly__author{
    font: var(--desktop-h5-black);
}
.bitly__figure{
    width: 180px;
    position: absolute;
    right: 0;
    bottom: -90px;
}
@media screen and (max-width: 960px) {
    .bitly__content{
        flex-wrap: wrap;
        gap: 16px;
    }
    .bitly___img{
        width: 60%;
        margin: auto;
    }
    .bitly__figure{
        bottom: -160px;
    }
}
@media screen and (max-width: 678px) {
    .bitly___img{
        min-width: auto;
        width: 100%;
    }
    .bitly__title{
        font: var(--mobile-h4);
    }

}