.clientes{
    background-color: rgba(206, 206, 206, 0.1);
    padding: 120px 0;
}
.clientes__title{
    text-align: center;
    font: var(--desktop-h4);
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 64px;
}
.clientes__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
}
.cliente{
    opacity: 0.6;
    text-align: center;
}
.cliente__img{
    height: 28px;
}
@media screen and (max-width: 767px) {
    .clientes__content{
        gap: 40px;
    }
    .cliente{
        min-width: 130px;
        text-align: center;
    }
    .cliente__img{
        width: auto;
    }
}

@media screen and (max-width: 420px) {
    .clientes{
        padding: 64px 0;
    }
    .clientes__title{
        font: var(--mobile-h4);
        font: var(--mobile-h5black);
        margin-bottom: 40px;
    }
    .clientes__content{
        gap: 16px;
    }

    .cliente__img{
        height: 20px;
    }
}