.footer{
    padding: 120px 0;
    border-top: 2px dashed var(--grey);
}
.footer__content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 16px;
}
.footer__logo{
    display: inline-block;
}
.footer__title{
    font: var(--desktop-h5-black);
}
.footer__item{
    margin-bottom: 24px;
}
.footer__link{
    color: var(--dark);
    font: var(--desktop-body2-regular);
}

@media screen and (max-width: 1040px) {
    .footer{
        padding: 60px 0;
    }
    .footer__content{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 32px;
    }
}
@media screen and (max-width: 678px) {
    .footer{
        padding: 32px 0;
    }
    .footer__content{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        row-gap: 32px;
    }
}
@media screen and (max-width: 500px) {
    .footer__content{
        grid-template-columns: auto;
        grid-template-rows: auto;
        row-gap: 32px;
    }
    .footer__item{
        margin-bottom: 16px;
    }
}